<div class="col-4 jumbotron">
  <div class="row">
    <div class="search-boxes row">
 
          <div class="form">
              <input type="search" class="form-control" placeholder="From" [(ngModel)]="fromLocation">
          </div>
          <div class="form">
              <input type="search" class="form-control" placeholder="To" [(ngModel)]="toLocation">
          </div>
        </div>
    <div class="search-button col-1">
      <button type="button" class="btn btn-primary" (click)="search()">Go!</button>
    </div>
  </div>
  <ng-container [ngSwitch]="invalid">
    <ng-container *ngSwitchCase="true">
      <div class="alert alert-danger col-11" role="alert">
        <p>Both fields are required</p>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="false">
      <ng-container *ngIf="results$ | async as results; else loading">
        <div class="results">
          <app-results [searchResults]="results"></app-results>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div *ngIf="searched" class="loading">
      Loading...
    </div>
  </ng-template>
</div>